name: github-release

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  ####################
  # test
  ####################

  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim_version: ["nightly", "stable"]

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: run tests
        uses: nvim-neorocks/nvim-busted-action@v1
        with:
          nvim_version: ${{ matrix.neovim_version }}

  ####################
  # github-release
  ####################

  github-release:
    name: github-release
    runs-on: ubuntu-latest
    needs:
      - test

    steps:
      - name: init release-please
        uses: googleapis/release-please-action@v4
        with:
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
          token: ${{ secrets.PAT }}
          package-name: mindmap.nvim
